In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
%cd /gdrive/My Drive/ANN2/Dataset

/gdrive/My Drive/ANN2/Dataset

In [ ]:
import tensorflow as tf
import numpy as np
import os
import random
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix
from PIL import Image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import glob

In [ ]:
seed = 21

random.seed(seed)
os.environ['PYTHONHASHSEED'] = str(seed)
np.random.seed(seed)
tf.random.set_seed(seed)
tf.compat.v1.set_random_seed(seed)

In [ ]:
import warnings
import logging

os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=Warning)
tf.get_logger().setLevel('INFO')
tf.autograph.set_verbosity(0)

tf.get_logger().setLevel(logging.ERROR)
tf.get_logger().setLevel('ERROR')
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

In [ ]:
unzip training_dataset_homework2.zip

In [ ]:
dataset = np.load('x_train.npy')
labels = np.load('y_train.npy')
dataset.shape[-1]
unique, counts = np.unique(labels, return_counts=True)

dict(zip(unique, counts))

{0: 34,
 1: 123,
 2: 270,
 3: 381,
 4: 62,
 5: 153,
 6: 313,
 7: 68,
 8: 120,
 9: 777,
 10: 77,
 11: 51}

In [ ]:
feature1_timeserie = pd.DataFrame(data=dataset[:,:,0])
feature1_timeserie

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,17.5970,0.22974,-29.65400,-59.21000,-72.06400,-58.35500,-24.08600,9.5313,19.02000,-3.35000,...,0.801550,17.23200,31.0310,43.98500,64.09000,92.6870,117.42000,119.82000,91.59100,43.71900
1,2.4209,1.68470,0.50692,-0.26783,-0.02287,1.24410,3.13470,5.2318,7.26390,8.88720,...,-0.010226,3.53350,3.5181,-0.62294,-7.35520,-13.7430,-16.92800,-15.61800,-10.70200,-4.63520
2,39.6880,163.99000,275.45000,300.36000,222.61000,98.14900,7.16010,-11.1800,17.80500,38.94100,...,-21.912000,-13.19900,1.1446,12.65800,19.55200,24.7100,29.83800,31.52100,25.36300,12.55700
3,1.6554,10.35700,17.14100,15.57500,8.01690,4.06390,9.80620,20.1970,23.64500,14.08900,...,6.549400,3.64420,-3.1041,-6.83900,-4.15250,3.1383,10.24600,12.94800,10.15900,4.48520
4,-15.1390,-8.04050,-0.58690,1.15020,-4.73610,-14.03900,-19.07300,-14.2180,-0.32998,15.31600,...,63.010000,65.95600,51.8980,28.28500,5.18770,-9.7709,-14.38400,-11.45400,-5.91920,-1.68130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,16.9890,-8.20460,-35.53100,-43.97400,-25.70900,6.79220,30.67400,30.8270,10.53200,-13.13000,...,7.465400,20.39500,31.6290,36.42100,29.31400,9.5799,-14.87600,-31.04300,-30.47700,-16.19600
2425,8.9566,4.27870,1.02590,5.52240,15.24600,20.99800,17.31300,8.3067,2.25290,2.29800,...,-13.754000,-9.41900,-2.0205,1.52030,-0.44410,-2.9399,-1.01620,4.15120,6.99790,4.62530
2426,503.1200,317.31000,242.74000,257.62000,115.73000,47.87500,61.45100,42.6690,12.85600,10.64700,...,0.346950,-0.94714,3.3560,0.40284,1.14620,1.2974,0.39785,0.44821,-0.74565,-0.72203
2427,17.7560,26.27500,31.81700,32.07800,26.98100,18.97200,11.87200,8.8658,10.79000,15.72300,...,10.501000,4.95540,-4.6853,-12.49600,-13.64400,-7.5579,1.84500,8.93970,10.13900,5.93960
2428,1.0391,-3.98960,0.18169,2.28170,-3.56120,0.50493,0.15049,-7.4076,-2.02970,0.18411,...,9.678700,5.14740,8.4362,8.98890,-0.86079,3.5119,0.70853,0.20638,4.14290,-1.55450

In [ ]:
df = pd.DataFrame(dataset[0, :, :])
df

            0         1           2           3           4          5
0    17.59700    8.1713    -1.78420   -19.70600     -9.7135  -61.88700
1     0.22974   -5.8956    16.83700     5.03900      2.4332   58.91400
2   -29.65400  -21.2960    29.10300    -0.47503     75.3910   10.66500
3   -59.21000  -29.5650    17.97100   -45.60600     19.4120  -43.01400
4   -72.06400  -25.8550     0.46536   -59.15100    -29.1050  -11.91300
5   -58.35500  -12.0520    -3.76550   -15.37200     43.1880   13.45200
6   -24.08600    4.3008     1.35280    18.38400     17.6270  -64.70900
7     9.53130   14.5980     3.45800     1.63640     -2.7640  -38.64400
8    19.02000   14.3870    -2.05420   -19.37700     30.8420  126.18000
9    -3.35000    6.0219   -10.82600    -1.17670      9.8274    2.66560
10  -40.64800   -2.9042   -13.91800    35.96400     19.8260   26.24700
11  -61.34700   -4.5803    -8.36750    52.52000    -29.6210   23.89700
12  -43.56700    3.4607    -0.84096    36.86500     -5.1364   23.07400
13    4.96360   15.8370     2.94460     4.88720      8.4323    8.61020
14   49.19200   22.1250     3.19210   -18.11100    -55.1010   54.53200
15   52.19700   14.0700     1.33620   -18.85200     18.4500   58.58800
16    4.62150   -7.1375    -1.05210    -7.33170    -17.4510    4.98230
17  -66.30800  -29.1140    -5.12660    -5.70280    -65.1810  -19.08900
18 -116.57000  -34.9590    -7.27510   -12.58200    -51.1820   97.74900
19 -118.12000  -15.4020    -5.03530   -12.77700     18.1330    0.65637
20  -77.84000   21.7720    -0.57403   -12.72300     14.4010   62.30500
21  -28.13700   53.3110     5.29680   -10.66400      6.3643   98.41300
22    0.75407   54.7440     6.79210     7.74310    -18.1770  -28.80900
23    2.28770   19.3980     2.50370    12.69500     11.6780  -21.48200
24   -7.72490  -31.2460    11.45200   -11.81000      2.9351  -41.98100
25  -10.11800  -55.4400    30.37100    -0.95962     65.7080 -125.26000
26    0.80155  -15.0650    35.58400    32.72400    -91.0260   13.30900
27   17.23200   98.6610    59.43900   -18.78300     55.8990    2.93400
28   31.03100  254.8200   136.12000   -61.25000   -117.3500  138.04000
29   43.98500  395.9200   181.80000    64.82500    133.3900   66.45800
30   64.09000  467.4700   126.67000   109.50000   -189.5900  -90.48100
31   92.68700  445.8500   200.76000  -142.25000    401.0000  -60.92000
32  117.42000  348.0200   779.53000  -133.87000    -29.4610   40.77700
33  119.82000  218.4900  1639.80000   597.87000   2192.2000   18.48400
34   91.59100  103.7800  1823.80000  1246.00000  11301.0000  751.07000
35   43.71900   30.6890   950.92000   859.27000   8133.1000  988.83000